@model IEnumerable<PruebaTecnicaFE.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">List of Products</h1>

<p>
    <a asp-action="Create" class='btn btn-primary'>Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoID)
            </td>
            <td>
                @Html.ActionLink(item.Nombre, "Details", new { id = item.ProductoID }, new { @class = "btn btn-link"} ) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductoID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductoID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
